

<div class="wrapper">

  <app-navbar></app-navbar>
  <app-sidebar></app-sidebar>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

  <app-breadcrumbs></app-breadcrumbs>

  <!-- Main content -->
  <section class="content container-fluid">

    <!--------------------------
    | Your Page Content Here |
    -------------------------->
    <router-outlet></router-outlet>

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- <app-settings></app-settings> -->
<app-footer></app-footer>
</div>
